.container-cust{
    width: 400px;
    height: 300px;
    padding: 20px;
}
.card-container{
    padding: 20px;
    

}
.card {
    width: 300px; 
    height: fit-content;
}
.card-container {
    width: fit-content; 
    height: fit-content;
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    background-color: #f9f9f9; 
  }