 .container
 {
        margin:20px;
        border:4px double yellowgreen;
        padding:30px;
        border-radius:50px;
        

    }
    body{
        background-image:url(./tree-image.jpg);
        background-repeat: no-repeat;
    }
